.btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  border-radius: 20px;
  outline: none;
  background: var(--btn);
  font-family: var(--font_text);
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  transition: background 0.25s var(--ease-in-quad);

  &:visited {
    color: #fff;
  }

  &:hover, &:focus {
    background: var(--btn_hover);
    transition: background 0.25s var(--ease-in-quad);
    color: #ffffff;
  }

  &:active {
    background: var(--btn_active);
  }
}

/*--------- Swipe ---------------*/
.btn-swipe {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 100%;
    background: var(--btn);
    transition: 0.3s ease-in-out;
  }

  &:hover {
    color: #fff;

    &:after {
      z-index: -5;
      width: 100%;
      transition-duration: 0.5s;
    }
  }
}
