.btn {
  width: 224px;
  height: 46px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.25s var(--ease-in-quad);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  &:visited {
    color: #fff;
  }

  &:hover, &:focus {
    //background: var(--btn_hover);
    transition: background 0.25s var(--ease-in-quad);
    color: #ffffff;
    outline: none;
  }

  &:active {
    background: var(--btn_active);
  }
  &--clear {
    border: 1px solid $yellow;
    box-sizing: border-box;
    border-radius: 50px;
    background: transparent;
    color: $yellow;
    transition: background 0.25s var(--ease-in-quad) border .25s var(--ease-out-quad);

    &:hover {
      border: 1px solid transparent;
      background: $yellow;
      transition: background 0.25s var(--ease-in-quad) border .25s var(--ease-out-quad);
    }
  }
  &--def {
    background: $yellow;
    //border: 1px solid #FFD601;
    box-sizing: border-box;
    border-radius: 50px;
    transition: background 0.25s var(--ease-in-quad) border .25s var(--ease-out-quad);
    &:hover {
      border: 1px solid $yellow;
      background: transparent;
      transition: background 0.25s var(--ease-in-quad) border .25s var(--ease-out-quad);
    }
  }

}

